[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==7.11.1"
spyder-kernels = "==1.8.1"
autopep8 = "*"

[packages]
pandas = "~=0.25.0"
xlrd = "~=1.2.0"
matplotlib = "==3.1.1"
statsmodels = "==0.10.1"
requests = "==2.22.0"
beautifulsoup4 = "==4.8.1"
patool = "==1.12"
numpy = "==1.17.4"

[requires]
python_version = "3.7"
