alabaster==0.7.12
appnope==0.1.0
argh==0.26.2
attrs==19.3.0
autodoc==0.5.0
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.8.1
bleach==3.1.0
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
docutils==0.16
-e git+https://github.com/rxavier/uy-econ.git@205326ba6a981445e3f9a8903527a6645c399689#egg=econuy
entrypoints==0.3
idna==2.8
imagesize==1.2.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.2
kiwisolver==1.1.0
livereload==2.6.1
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mock==4.0.1
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.17.4
packaging==20.1
pandas==0.25.3
pandocfilters==1.4.2
parso==0.6.1
pathtools==0.1.2
patool==1.12
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
port-for==0.3.1
prometheus-client==0.7.1
prompt-toolkit==3.0.3
ptyprocess==0.6.0
Pygments==2.5.2
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.1
requests==2.22.0
scipy==1.4.1
Send2Trash==1.5.0
six==1.14.0
snowballstemmer==2.0.0
soupsieve==1.9.5
Sphinx==2.4.1
sphinx-autobuild==0.7.1
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
statsmodels==0.11.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
traitlets==4.3.3
urllib3==1.25.8
waitress==1.4.3
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
WebOb==1.8.6
WebTest==2.0.34
xlrd==1.2.0
zipp==2.2.0
